services:
  lalm_bench:
    container_name: lalm_bench_hailo_jemin
    image: ghcr.io/jemin7709/lalm_bench
    build: .
    ipc: host
    environment:
      HF_TOKEN: ${HF_TOKEN}
      PYTHONPATH: /app
      UV_LINK_MODE: copy
    volumes:
      - venv_hailo_jemin:/app/.venv
      - cache_hailo_jemin_1:/root/.cache
    command: sleep infinity
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv
            - outputs
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
volumes:
  venv_hailo_jemin:
  cache_hailo_jemin_1:
    external: true
